body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
}

@media (min-width: 1440px) {
  .card {
    max-width: 42%;
    margin: 10em auto;
    padding: 2em;
    border-radius: 10px;
  }
  img {
    border-radius: 10px;
  }
  .main {
    margin: 0 !important;
  }
}

p,
li {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h3 {
  font-family: "Outfit", sans-serif;
  color: hsl(332, 51%, 32%);
  margin: 0;
}

li {
  margin-bottom: 1em;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

li::marker {
  content: counters(list-item) ".";
  margin-right: 2em;
}

ol::marker {
  color: hsl(14, 45%, 36%);
}

table {
  border-collapse: collapse;
}

td {
  height: 3em;
}

th:empty {
  border: none !important;
}

tr {
  border-bottom: 1px solid hsl(30, 10%, 90%);
}

tr:first-child,
tr:last-child {
  border-bottom: none;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding-bottom: 2em;
}

.main {
  margin: 0 2em;
}

.prep {
  background-color: hsl(332, 51%, 97%);
  padding: 1em 2.5em 1em 1em;
  border-radius: 10px;
}
.list {
  display: flex;
  align-items: center;
}

.ol-list {
  display: flex;
  align-items: start;
}
.pointer {
  min-width: 2em;
  flex-shrink: 0;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.pl {
  padding-left: 2em;
}

.nutrition {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.d-flex {
  display: flex;
  justify-content: center;
}
